PORT=8000
NODE_ENV=development
MONGODB_URI=mongodb+srv://admin:123@aceacd.qvnm30c.mongodb.net/?appName=AceAcd
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoicHJhYmhndW4iLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNTE2MjM5MDIyfQ.WRDu7Lofn2Do0ibCT2o2NuBMUjlUX4hkLSuoEjw_XkQ
JWT_EXPIRES_IN=24h
CLIENT_URL=http://localhost:5173
LEETCODE_GRAPHQL_URL=https://leetcode.com/graphql